In [11]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
import numpy as np
import pandas as pd
import os, sys
sys.path.append(os.path.join(os.getcwd(), 'src'))
import dataset_analyze

# 读取所有数据集。数据集较大，有3GB，请保证有足够的内存空间

In [9]:
df = pd.read_csv('./dataset/UserBehavior.csv', header=None)
df_temp = df.iloc[: 10, :]
df.columns = ['用户ID', '商品ID', '商品类目ID', '行为类型', '时间戳']
df

             用户ID     商品ID   商品类目ID 行为类型         时间戳
0               1  2268318  2520377   pv  1511544070
1               1  2333346  2520771   pv  1511561733
2               1  2576651   149192   pv  1511572885
3               1  3830808  4181361   pv  1511593493
4               1  4365585  2520377   pv  1511596146
...           ...      ...      ...  ...         ...
100150802  999999  4797808    11120   pv  1512293403
100150803  999999  4613472  4602841   pv  1512293766
100150804  999999  3647364  2304296   pv  1512293792
100150805  999999  1903801  2304296   pv  1512293827
100150806  999999  3696094  4602841   pv  1512293891

[100150807 rows x 5 columns]

                0        1        2   3           4
0               1  2268318  2520377  pv  1511544070
1               1  2333346  2520771  pv  1511561733
2               1  2576651   149192  pv  1511572885
3               1  3830808  4181361  pv  1511593493
4               1  4365585  2520377  pv  1511596146
...           ...      ...      ...  ..         ...
100150802  999999  4797808    11120  pv  1512293403
100150803  999999  4613472  4602841  pv  1512293766
100150804  999999  3647364  2304296  pv  1512293792
100150805  999999  1903801  2304296  pv  1512293827
100150806  999999  3696094  4602841  pv  1512293891

[100150807 rows x 5 columns]